
@font-face {
font-family: "Humanistic";
src: url("./Humanistic.ttf");
}
@font-face {
font-family: "MediciText";
src: url("./MediciText.ttf");
}
@font-face {
font-family: "PressGutenberg";
src: url("./PressGutenberg.ttf");
}

.headbar { 
    font: 1.5em "Humanistic", serif;
    font-weight: bold;
    text-align:center;
    color: black;
    color:#fff; 
    /*background-color:#ff0038;*/
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

.headbar2 { 
    font: 1.3em "Humanistic", serif;
    font-weight: bold;
    text-align:center;
    color: black;
    color:#eee; 
    /*background-color:#ff0038;*/
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

.headbar3 { 
    font: 1.1em "Humanistic", serif;
    font-weight: bold;
    text-align:center;
    color: black;
    color:#ddd; 
    /*background-color:#ff0038;*/
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

.hr {
width: 100%;
height: 1px;
margin-left: auto;
margin-right: auto;
background-color:#fff;
/*border: 0 none;*/
margin-top: 10px;
margin-bottom:10px;
}

#footer {
        font: 1.3em "Humanistic", sans-serif;
    text-align: right;
    stroke: #fff;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  height: 2.5rem;            /* Footer height */
}


/*body {*/
 /*background-image: url("./528.jpg");*/
 /*background-repeat: repeat;*/
/* background-color: #333333;*/
/*}*/

body {
  background-image: linear-gradient( #555555, #dddddd);
}

body .bashford {
  background-image: linear-gradient(to right, #555555, #dddddd);
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 40%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}





	text {
		font-family: "Humanistic","Book Antiqua","Old English Text MT",serif;
		font-size: 14px;
	}

	rect {
		fill: none;
		stroke: #ddd;
		/*fill: #fff;*/
		stroke-width: 1;
	}
	
	.intro rect {
		fill: none;
		stroke: #000;
		fill: #fff;
		stroke-width: 1;
	}
		scenelabel {
		fill: none;
		stroke: #333;
		stroke-width: 1;
	}
	
	path {
		fill: none;
		stroke-width: 2;
		stroke: #333;
	}
	
	path.other {
		stroke: #f2d8b3;
	}

	path.staffwpn {
		stroke: #f2d8b3;
	}

	path.helmet {
		stroke: #8fb0a9;
	}

	path.armor {
		stroke: #ba9b2f;
	}
	
    path.gun {
		stroke: #d76735;
	}
	
	.intro text:first-child {
		fill: #fff;
	    stroke: #ffffff;
	    stroke-width: 3;
	}

	.intro text+text {
	    fill: #333;
	}

	.intro text+text.helmet {
	    fill: #8fb0a9;
	    stroke: #333
	}

	.intro text+text.staffwpn {
	    stroke: #f2d8b3;
	    stroke: #333
	}
	
    .intro text+text.armor {
	    stroke: #ba9b2f;
	    stroke: #333
	}
	
	.intro text+text.gun {
	    stroke: #d76735;
	    stroke: #333
	}
	.intro text+text.other {
	    stroke: #d76735;
	    stroke: #333
	}
	
	.textaxislegend {
		font-size: 1.2em;
	    stroke: #fff;
	    fill: #fff;
	    stroke-width: 1;
	}
	
	.periodtext {
		font-size: 1.5em;
	    stroke: #eee;
	    fill: #eee;
	    stroke-width: 1;
	}
	.periodlines {
		stroke: #999;
		stroke-width: 0.5;
	}
	
	a {
		color: #fff;
	}

	.scene .staffwpn {
	    /*transform-origin: initial;*/
	    /*transform: rotate(90deg);*/
	}
	
	/*	#narrative-chart {*/
	    /*transform-origin: initial;*/
	/*    transform: rotate(-90deg);*/
	/*    transform: translate(0px,100px);*/
	/*}*/
	
	
	
	/*<a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by aopsan - www.freepik.com</a>*/