.node {
  cursor: pointer;
}

.node circle {
  /*fill: #fff;*/
  stroke: #eee;
  stroke-width: 1.5px;
}

.node text {
  fill: #fff !important;;
  font: 12px sans-serif;
  stroke: #fff;
  stroke-width: 0.2px;
}

.linkpath {
  stroke: #333;
  fill: none;
  /*color: "#fff";*/
  stroke-width: 1.5px;
}

/*path:hover {*/
/*  fill: red;*/
/*}*/
.row {
  height: 100%;
  display: table;
  /*display: table;*/
}

.column1 {
  /*display: block;*/
  float: left;
  width: 66.66%;
  height: 100%;
  /*top: 0px;*/
  /*bottom: 0px;*/
  /*padding: 10px;*/
  
}
.column2 {
  display: inline-block;
  /*vertical-align: center;*/
  float: left;
  width: 33.3%;
  height: 100%;
    /*top: 0px;*/
  /*bottom: 0px;*/
  /*padding: 10px;*/
  
}

/*#theTidyTreeImage {*/
/*  display: inline-block;*/
/*  float: left;*/
/*  vertical-align: middle!important;*/
/*  width: 33%;*/
  /*top: 50%;*/
  /*  top: 0px;*/
  /*bottom: 0px;*/
  /*padding: 10px;*/
  
/*}*/



#theTidyTreeImage {
  display: inline-block;
  float: left;
  /*vertical-align: middle!important;*/
  width: 33%;
  /*top: 50%;*/
  /*  top: 0px;*/
  /*bottom: 0px;*/
  /*padding: 10px;*/
  
}

spancolumn2a {
  display: block;
}

#theTidyTreeImage {
  margin-top: 300px;
  display: block;
}

#theTidyTreeImagetext p {
  fill: #fff !important;
  margin-top: 500px;
  font: 12px sans-serif;
  stroke: #fff;
  stroke-width: 0.2px;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  clear: both;
  z-index: -1;
}